*{
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------- FONDO Y BODY ----------- */

body{
    color: rgb(255, 255, 255);
    height: 800px;
    margin: 0px;
}

.Fondo{
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* ----------- UTILIDADES GENERALES ----------- */

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

li{
    margin: 30px;
}

h1{
    font-size: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.Seleccion{
    color: rgb(234, 164, 34);
}

.fw-300 {
    font-size: 50px;
    font-weight: 600;
}

.Titulo {
    text-shadow: 2px 0px 0px black, 0px 2px 0px black, -2px 0px 0px black, 0px -2px 0px black, 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
    color: #eaa422; 
    text-align: center;
}

/* ----------- HEADER - NAVEGACIÓN ----------- */

header{
    background-color: black;
    padding: 0px 40px 0px 40px ;
}

.Logo1{
    width: 100px;
    height: 100px;
}

nav{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.DivNav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ListaNav{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
}

.ListaNav a {
    color: white;
}


.CarritoDeCompras{
    width: 30px;
    height: 30px;
}

/* ----------- FOOTER - REDES ----------- */

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

.TituloFooter{
    color: #eaa422;
    margin-left: 70px;
    font-size: 25px;
}

.ContactosDirecciones{
    list-style: none;
}

.Lista2{
    list-style: none;
    margin: 10px;
}

.DivNuestrasRedes{
    display: flex;
    flex-direction: column;
}

.NuestrasRedes{
    color: #eaa422;
    margin-left: 5px;
    font-size: 25px;
}

.DivInstagram{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.Instagram{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.DivFacebook{
    display: flex;
    align-items: center;
}

.Facebook{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* ----------- CONTENIDO DE LA PAGINA HOME ----------- */

/* ----- Seccion de Slider de Bienvenida ----- */

.ImagenHome img {
    max-width: 100%;
}

/* ----- Seccion de Nosotros Resumido----- */

.ResumenNos{
    display: flex;
    justify-content: space-between;
    border: #262A30 solid 5px;
    border-radius: 35px;
    max-width: 1500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.ResumenNos .TextoNos {
    flex-basis: calc(50% - 3rem);
}

.TextoNos {
    text-shadow: 2px 0px 0px black, 0px 2px 0px black, -2px 0px 0px black, 0px -2px 0px black, 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
    color: white;
    font-size: 20px;
    margin-top: 80px;
    margin-left: 80px;
    line-height: 1.4;
    max-width: 950px;
    max-height: 200px;
    text-align: justify;
    align-items: center;
}

.ResumenNos .ImagenNos {
    flex-basis: 40%;
}

.ImagenNos {
    margin-right: 50px;
    margin-top: 25px;
}

/* ----- Seccion de Nuestros Productos----- */

.ContenerProductos {
    background-color: white;
    opacity: 0.9;
    max-width: 1750px;
    margin: 0 auto 50px auto;
    padding-top: 30PX;
    padding-bottom: 50px;
    border-radius: 35px;
}

.TituloProd {
    color: #eaa422; 
    text-align: center;
}


.TipoProducto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 70px;
    padding-right: 70px;
}

.Producto {
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #000;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 45px;
}

.ImagenProducto img {
    max-width: 75%;
}

.ContenidoProd {
    padding: 15px 20px 15px 20px;
    margin-bottom: 25px;
}

.ContenidoProd h3, .ContenidoProd p{
    color: #000;
    margin: 0;
    text-align: center;
}

.ContenidoProd h3 {
    color: #eaa422;
    font-size: 30px;
    padding-bottom: 35px;
}

.ContenidoProd p {
    text-align: justify;
    font-size: 20px;
    padding-bottom: 35px;
    padding-left: 30px;
    padding-right: 30px;
}

.ContenidoProd a {
    color: #eaa422;
    padding: 10px;
    border: #eaa422 solid 1px;
    border-radius: 15px;
    font-size: 20px;
}

/* ----------- CONTENIDO DE LA PAGINA NOSOTROS ----------- */

/* ----- Seccion de Nosotros Info ----- */

.ContenedorNosotros {
    max-width: 120rem;
    margin: 0 auto 0 auto;
    padding-top: 30PX;
    padding-bottom: 50px;
}

.ContenidoNosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    max-width: 1500PX;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.ImagenNosotros {
    margin-right: 30px;
    margin-top: 25px;
    padding-left: 25px;
}


.ImagenesNosotros img{
    max-width: 80%;
}

.TextoNosotros {
    max-width: 950px;
    max-height: 500px;
    text-align: justify;
}

.TextoNosotros p {
    text-shadow: 2px 0px 0px black, 0px 2px 0px black, -2px 0px 0px black, 0px -2px 0px black, 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
    color: white; 
    font-size: 25px;
    margin: 0;
    padding-right: 15px;
}

/* ----------- CONTENIDO DE LA PAGINA CONTACTOS ----------- */

/* ----- Seccion de Contacto - Formulario----- */

.ContenedorCont {
    background-color: white;
    max-width: 1750px;
    margin: 50px auto 50px auto;
    padding-top: 30PX;
    padding-bottom: 50px;
    border-radius: 35px;
}

.TituloCont {
    color: #eaa422; 
    text-align: center;
}

.ContenidoCont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    max-width: 1500PX;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
 
 .InfoCont p{
     color: #000;
     font-size: 25px;
     font-weight: 700;
     padding-bottom: 30px;
 }
 
 .ImagenCont img {
     max-width: 350px;
     max-height: 350px;
 }

 input::placeholder {
    margin-left: 5px;
 }

 .form-name {
     font-size: 20px;
     font-weight: 500;
     width: 750px;
     padding: 10px 0px 10px 10px;
     margin-bottom: 25px;
     border: #eaa422 solid 2px;
     border-radius: 25px;
 }
 
 .form-email {
     font-size: 20px;
     font-weight: 500;
     width: 750px;
     padding: 10px 0px 10px 10px;
     margin-bottom: 25px;
     border:  #eaa422 solid 2px;
     border-radius: 25px;
 }
 
 .form-mensaje {
     font-size: 20px;
     font-weight: 500;
     width: 750px;
     padding: 10px 0px 450px 10px;
     margin-bottom: 25px;
     border: #eaa422 solid 2px;
     border-radius: 25px;
 }
 
 .button {
     font-size: 20px;
     font-weight: 900;
     color: #eaa422;
     padding: 15px 35px 15px 35px;
     border: #eaa422 solid 2px;
     border-radius: 25px;
 }


 /* ----------- CONTENIDO DE LA PAGINA PRODUCTOS - VISUAL ----------- */

/* ----- Seccion de Visualizacion----- */

.DivDelDiv{
    border: 10px solid rgb(21, 21, 21);
    border-radius: 20px;
    padding: 50px;
}

.Div1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 10px solid white;
    border-radius: 20px;
}

.Epson{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Parrafos{
    margin-left: 50px;
    margin-right: 50px;
}

.Parrafos p {
    max-width: 1000px;
    font-size: 25px;
}

.ListaDePrecios{
    list-style: none;
}

.Precios{
    background-color: gray;
    border: 5px solid white;
    border-radius: 50px;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.Imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
    padding-top: 5px;
    max-width: 50%;
}

.Impresora{
    width: 700px;
    height: 700px;
    margin: 50px;
    border-radius: 35px;
}

.ButtonShop h2{
    background-color: springgreen;
    border-radius: 50px;
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    -webkit-text-stroke: 2px black;
}
